:root {
  --basic-color: #ffffff;
  --opposite-basic-color: #000000;
  --bg-color-light: #f5f4fa;
  --bg-colog-dark: #2f303a;
  --brand-color: #2196f3;
  --text-color: #757575;
  --titles-color: #212121;
  --additional-color: #afb1b8;
  --card-set-gap: 30px;
}

body {
  color: var(--text-color);
  background-color: var(--basic-color);
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* =========== Header =========== */
.header {
  border-bottom: 1px solid #ececec;
}
.header-logo {
  color: var(--opposite-basic-color);
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}
.brand {
  color: var(--brand-color);
}
.site-nav {
  color: var(--titles-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav:hover,
.site-nav:focus,
.site-nav:active {
  color: var(--brand-color);
}
.header-contacts {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--brand-color);
}
.contact-icons {
  fill: currentColor;
  margin-right: 10px;
}
.current-page {
  color: var(--brand-color);
}

.current-page::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
  bottom: 0;
}

/* ============ Header Aligment ============ */

.menu,
.contacts,
.header-alignment {
  display: flex;
  align-items: center;
}
.contacts {
  margin-left: auto;
}
.header > .container {
  display: flex;
  align-items: center;
}
.space {
  position: relative;
}
.space:not(:last-child) {
  margin-right: 50px;
}

/* Main content */

/* =========== Hero =========== */

.hero-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-color: #c4c4c4;
}
.hero-align {
  margin-left: auto;
  margin-right: auto;
  width: 643px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  color: var(--basic-color);
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  margin-top: 0;
  margin-bottom: 30px;
}
.order {
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--basic-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
}
.order:hover {
  background-color: #188ce8;
}

/* =========== Advantages =========== */

.advantages-title {
  color: var(--titles-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.advantages-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.advantages {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
}
.advantages-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  display: block;
  margin-right: var(--card-set-gap);
}

.advantages-icon {
  background: var(--bg-color-light);
  border-radius: 4px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

/* =========== Services =========== */

.section.services-space {
  padding-top: 0;
}
.section-title {
  color: var(--titles-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.services {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
}
.services-item {
  position: relative;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
}
.service-name-bg {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 27px;
}
.service-name {
  color: var(--basic-color);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* =========== Our team =========== */

.team-bg-color {
  background-color: var(--bg-color-light);
}
.name {
  color: var(--titles-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}
.position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
}
.member {
  padding: 30px 0;
  display: block;
  text-align: center;
}
.team {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
}
.team-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  background-color: var(--basic-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.sm-icons {
  display: flex;
  justify-content: center;
}
.sm-icon {
  fill: currentColor;
  align-self: center;
}
.sm-icon-container {
  width: 44px;
  height: 44px;
}
.sm-icon-container:not(:last-child) {
  margin-right: 10px;
}
.member-sm-icon {
  display: inline-block;
  border-radius: 50%;
  color: var(--additional-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.member-sm-icon:hover {
  color: var(--basic-color);
  background-color: var(--brand-color);
}
/* =========== Clients =========== */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
}
.clients-list-item {
  flex-basis: calc(100% / 6 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
}
.client-logo {
  fill: currentColor;
}
.client {
  color: var(--additional-color);
  display: inline-block;
  width: 170px;
  height: 92px;
  border: 1px solid var(--additional-color);
  border-radius: 4px;
  padding: 16px 32px;
}
.client:hover {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}
/* =========== Portfolio =========== */

/* =========== Filters =========== */

.filter {
  color: var(--titles-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.63;
  background-color: var(--bg-color-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}
.center {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.align-horizontal {
  margin-right: 8px;
}
.align-horizontal:last-of-type {
  margin-right: 0;
}
.filter:hover,
.filter:focus,
.filter:active {
  color: var(--basic-color);
  background-color: var(--brand-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08);
}
.filter-current {
  color: var(--basic-color);
  background-color: var(--brand-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08);
}

/* =========== Portfolio Items =========== */

.link {
  text-decoration: none;
}

.project-name {
  color: var(--titles-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}
.project-type {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0;
}
.legend {
  display: block;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.project {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}
.project-item {
  position: relative;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
}
.project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item:hover .description {
  opacity: 1;
}
.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--basic-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 63px 24px;
  opacity: 0;
  overflow: auto;
}

/* =========== Footer =========== */

.footer {
  background-color: var(--bg-colog-dark);
}
.footer-blocks {
  display: flex;
}
.block-1 {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}
.footer-logo {
  color: var(--basic-color);
  font-family: 'Raleway', 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma';
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}
.address {
  color: var(--basic-color);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
  text-decoration: none;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
  display: block;
  margin-top: 9px;
  text-decoration: none;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--brand-color);
}

.block-2 {
  padding-top: 72px;
  color: var(--basic-color);
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.fsm-icon {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--basic-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.fsm-icon:hover {
  background-color: var(--brand-color);
}

/* Modal Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--basic-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close {
  position: absolute;
  background-color: transparent;
  height: 30px;
  top: 8px;
  right: 8px;
  border: none;
  padding: 0;
}
